html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #5F5F5F;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
}

.largeHeader {
  color: #4a90e2;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.subHeader {
  color: #4a90e2;
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}

.errorMsg {
  color: #FF7777;
  font-size: 22px;
  text-align: center;
}

.center {
  text-align: center;
}

.baseTextAreaContainer {
  display: flex;
  height: 110px;
  margin: 10px;
}

.baseTextArea {
  flex: 1;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
  resize: none;
}

.darkBtn {
  background: #4a90e2;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #4a90e2;
}

.darkBtn:hover {
  background: #1877E6
}

.baseDuckContainer {
  border-radius: 5px;
  max-width: 450px;
  margin: 15px auto;
  padding: 10px;
  cursor: pointer;
}

.baseAvatar {
  width: 75px;
  border-radius: 3px;
  margin-right: 15px;
}

.clickable {
  cursor: pointer;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.clickable:hover {
  transform: scale(1.1);
}

/*FORM DEFAULTS*/

.loginFormContainer {
	height: 100%;
	display: flex;
	justify-content: center;
	background: rgba(112, 85, 193, 0.64);
  align-self: center;
  text-align: center;
  color: blue;
}

.loginForm {
	min-width: 400px;
	padding: 60px 80px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
}

.formField {
	margin-bottom: 10px;
	display: block;
	padding: 10px 15px 11px;
	width: 100%;
	outline: none;
	border: 2px solid #e0d6fd;
	border-radius: 30px;
	font-size: 13px;
	font-weight: 500;
	font-family: 'Quicksand', Arial, sans-serif;
	letter-spacing: 1px;
}
.fieldValidationText {
	display: block;
	margin-left: 10px;
	padding: 4px 0px 0px;
	text-align: left;
	font-size: 13px;
	font-weight: 700;
}

.formFieldValidation {
	@extend .form-field;
	color: #ff3030;
	label {
		input {
			border: 2px solid #ff3030;
			&:focus {
				border: 2px solid #ff3030;
			}
		}
	}
}

/*AVATAR INPUT*/

.avatarInput {
	text-align: center;
	span {
		display: inline-block;
		margin-bottom: 10px;
		padding: 0px;
		width: auto;
	}
	img {
		width: 40%;
		height: auto;
		display: block;
		margin: 0px auto;
		border: 2px solid #e0d6fd;
		border-radius: 100%;
		cursor: pointer;
		@include smoth(0.5s);
		&:hover {
			border: 2px solid #7055c1;
		}
	}
	#file-input {
		display: none;
	}
}

/*FORM BUTTON*/

button {
	display: block;
	margin: 20px auto 0px;
	padding: 12px 40px 13px;
	font-size: 15px;
	font-weight: 700;
	background: #7055c1;
	color: #fff;
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
	@include smoth(0.5s);
	&:hover {
		background: #6755a0;
	}
}

/*FORM ERRORS*/

.errorIndicator {
	display: block;
	padding: 5px 0px 0px;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	color: #ff3030;
}
